body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.landing{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.darkside-div{
    margin-right: 20px;
}

.lightside-div{
    margin-right: 20px;
}

.allchar-div{
    margin-right: 20px;
}

.lightside-btn{
    background: #656BBD;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    color: #454A97;
   
}

.lightside-btn:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 15px #2563eb;
}

.darkside-btn{
    background: #540808;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    color: #926D6D;
}

.darkside-btn:hover{
    outline:none;
    border-color:#FA2323;
    box-shadow:0 0 15px #EC1212;
}

.allchar-btn{
    background: #0A0D37;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    color: #926D6D;
}

.allchar-btn:hover{
    outline:none;
    border-color:#C9E105;
    box-shadow:0 0 15px #E4FB23;
}




