body{
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.landing{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


.allchar-div{
    margin-left: 150px;
}

.allchar-btn{
    background: #0A0D37;
    border-radius: 5px;
    border: none;
    padding: 10px;
    height:fit-content;
    width: 200px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    color: #926D6D;
}

.allchar-btn:hover{
    outline:none;
    border-color:#C9E105;
    box-shadow:0 0 15px #E4FB23;
}




